* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: linear-gradient(#00B682, #4DCCA7);
    width: 400px;
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw 2vh 2vw;
    gap: 2vh;
    position: absolute;
    top: 20%;
    border-radius: 40px;
}

#btn {
    border: 1px solid #25692A;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    border-color: #eb9b48;
    background: linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
    box-shadow: inset 0px 1px 0px 0px #fdf7f0;
    color: #333;
    text-shadow: 0px 1px 0px #ffee66;
}

#btn:hover {
    background: linear-gradient(to bottom, #eb9b48 5%, #f7d6b3 100%);
}

#btn:active {
    position: relative;
    top: 2px;
}